html {
  background: url(images/rocket.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%
}

body {
  background-color: transparent;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-family: 'Source Code Pro', monospace;
  color: #fff;

}

h2 {
  font-size: 1.5em;
  text-transform: capitalize;
  margin-bottom: 50px;
  color: #cfcbff;
}

.container {
  min-height: 300px;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  padding: 30px 20px;
  background-color: rgba(28,43,62,0.85);
  border-radius: 5px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transform: translate(-50%, -50%);
  opacity: 0;
  animation: 2s forwards fadeIn;
}

.btn {
  border-radius: 10px;
  animation: 10s 10s shake infinite;
  background-color: #f93c0f;
  border-color: #f93c0f;
}

.btn:hover {
  background-color: #C62701;
  border-color: #C62701;
}

.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  1%,
  3%,
  5%,
  7%,
  9% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  2%,
  4%,
  6%,
  8% {
    -webkit-transform: translateX(2px);
    transform: translateX(2px);
  }
}


@media (max-width: 600px){
  html {
    -webkit-background-size: auto center;
    background-size: auto center;
  }
  .container {
    padding: 15px;
    height: 100%;
  }
  h1 {
    font-size: 2.5em;
    margin: 80px;
  }

  h2 {
    font-size: 1.3em;;
  }
}
